<div style="width: 1180.82px; height: 4986.69px; position: relative; overflow: hidden">
  <div style="width: 1124.59px; height: 17.57px; left: 28.11px; top: 28.11px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 12.30px; font-family: Inter; font-weight: 400; line-height: 17.57px; word-wrap: break-word">Home</div>
      </div>
    </div>
    <div style="padding-left: 10.54px; padding-right: 3.51px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 12.30px; font-family: Inter; font-weight: 400; line-height: 17.57px; word-wrap: break-word">></div>
    </div>
    <div style="padding-left: 7.03px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 12.30px; font-family: Inter; font-weight: 400; line-height: 17.57px; word-wrap: break-word">gp</div>
      </div>
    </div>
    <div style="padding-left: 10.54px; padding-right: 3.51px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 12.30px; font-family: Inter; font-weight: 400; line-height: 17.57px; word-wrap: break-word">></div>
    </div>
    <div style="padding-left: 7.03px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 12.30px; font-family: Inter; font-weight: 400; line-height: 17.57px; word-wrap: break-word">monaco</div>
    </div>
  </div>
  <div style="width: 1124.59px; height: 237.22px; left: 28.11px; top: 85.22px; position: absolute">
    <div style="width: 1125px; height: 202px; left: -0.11px; top: -0.22px; position: absolute; background: rgba(33.97, 39.69, 54.56, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30); border-radius: 14.06px; outline: 0.88px rgba(255, 255, 255, 0.10) solid; outline-offset: -0.88px; backdrop-filter: blur(4.39px)">
      <div style="width: 1081px; height: 52px; left: 25px; top: 130px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 10.54px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
        <div style="width: 256px; height: 46px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #131722; box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Dutch Grand Prix 2025</div>
        </div>
        <div style="width: 256px; height: 46px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Saudi Arabia Grand Prix 20xx</div>
        </div>
        <div style="width: 256px; height: 46px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Japanese Grand Prix 20xx</div>
        </div>
        <div style="width: 256px; height: 46px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Singapore Grand Prix 20xx</div>
        </div>
      </div>
    </div>
    <div style="width: 315.12px; padding-bottom: 14.06px; left: 24.89px; top: 32.78px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 28px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Select meeting</div>
    </div>
    <div style="width: 315.12px; padding-bottom: 14.06px; left: 24.89px; top: 75.78px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 1039px; justify-content: center; display: flex; flex-direction: column; color: #6E7585; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 28.11px; word-wrap: break-word">Choose a Grand Prix to load its sessions, drivers, laps, and pits</div>
    </div>
  </div>
  <div style="width: 1124.59px; height: 237.22px; left: 28px; top: 910px; position: absolute">
    <div style="width: 1125px; height: 384px; left: 0px; top: 0px; position: absolute; background: rgba(33.97, 39.69, 54.56, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30); border-radius: 14.06px; outline: 0.88px rgba(255, 255, 255, 0.10) solid; outline-offset: -0.88px; backdrop-filter: blur(4.39px)">
      <div style="width: 1081px; height: 52px; left: 25px; top: 130px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
        <div style="width: 532px; height: 98px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.50); border-radius: 20px; outline: 3px rgba(236, 236, 236, 0.50) solid; outline-offset: -1.50px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 176px; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Driver 1 detail</div>
        </div>
        <div style="width: 532px; height: 98px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; border-radius: 20px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Driver 2 detail</div>
        </div>
        <div style="width: 532px; height: 98px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; border-radius: 20px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Saudi Arabia Grand Prix 20xx</div>
        </div>
        <div style="width: 532px; height: 98px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; border-radius: 20px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Saudi Arabia Grand Prix 20xx</div>
        </div>
      </div>
    </div>
    <div style="width: 315.12px; padding-bottom: 14.06px; left: 24.89px; top: 32.78px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 28px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Drivers</div>
    </div>
    <div style="width: 315.12px; padding-bottom: 14.06px; left: 24.89px; top: 75.78px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 1039px; justify-content: center; display: flex; flex-direction: column; color: #6E7585; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 28.11px; word-wrap: break-word">Choose a Grand Prix to load its sessions, drivers, laps, and pits</div>
    </div>
  </div>
  <div style="width: 1125px; height: 693px; left: 23px; top: 1331px; position: absolute; background: rgba(33.97, 39.69, 54.56, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30); border-radius: 14.06px; outline: 0.88px rgba(255, 255, 255, 0.10) solid; outline-offset: -0.88px; backdrop-filter: blur(4.39px)">
    <div style="width: 1081px; height: 52px; left: 25px; top: 130px; position: absolute"></div>
    <div style="width: 1076px; height: 463px; left: 30px; top: 130px; position: absolute; background: #171D2A; overflow: hidden; border-radius: 30px">
      <div style="width: 896.44px; height: 387.73px; left: 106.01px; top: 41.42px; position: absolute; background: black"></div>
      <div style="width: 886.55px; height: 120.04px; left: 110.37px; top: 134.45px; position: absolute; outline: 3px #994873 solid; outline-offset: -1.50px"></div>
      <div style="width: 73.22px; height: 15.61px; left: 76.26px; top: 443.56px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.5.10</div>
      <div style="width: 73.22px; height: 15.61px; left: 33px; top: 35.97px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">14000</div>
      <div style="width: 73.22px; height: 15.61px; left: 33px; top: 132.40px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">1200</div>
      <div style="width: 73.22px; height: 15.61px; left: 33px; top: 227.83px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">10000</div>
      <div style="width: 73.22px; height: 15.61px; left: 33px; top: 324.26px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">8000</div>
      <div style="width: 73.22px; height: 15.61px; left: 224.01px; top: 443.56px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.5.12</div>
      <div style="width: 73.22px; height: 15.61px; left: 371.77px; top: 443.56px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.5.15</div>
      <div style="width: 71.24px; height: 15.61px; left: 520.52px; top: 443.56px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.5.17</div>
      <div style="width: 79.16px; height: 15.61px; left: 664.32px; top: 443.56px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.5.20</div>
      <div style="width: 91.03px; height: 15.61px; left: 806.14px; top: 443.56px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.05.23</div>
      <div style="width: 77.18px; height: 15.61px; left: 960.82px; top: 443.56px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.5.25</div>
      <div style="width: 896px; height: 406.44px; left: 110px; top: 22.05px; position: absolute; outline: 3px #BABBD9 solid; outline-offset: -1.50px"></div>
    </div>
    <div style="width: 315.12px; height: 43.06px; left: 50px; top: 44px; position: absolute">
      <div style="width: 430px; left: 0px; top: 0px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 28px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Car Telemetry - Speed</div>
    </div>
    <div style="width: 315.12px; height: 43.06px; left: 50px; top: 87px; position: absolute">
      <div style="width: 1039px; left: 0px; top: 0px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #6E7585; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 28.11px; word-wrap: break-word">Choose a Grand Prix to load its sessions, drivers, laps, and pits</div>
    </div>
    <div style="width: 35.50px; height: 11.09px; left: 325px; top: 631px; position: absolute; outline: 3px #374151 solid; outline-offset: -1.50px"></div>
    <div style="left: 372.50px; top: 620px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #374151; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28.11px; word-wrap: break-word">RPM</div>
    <div style="left: 493px; top: 620px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28.11px; word-wrap: break-word; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">Speed (km/h)</div>
    <div style="width: 35.50px; height: 11.09px; left: 446px; top: 631px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); outline: 3px #FEFEFF solid; outline-offset: -1.50px"></div>
    <div style="left: 706px; top: 620px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #374151; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28.11px; word-wrap: break-word">Throttle (%)</div>
    <div style="width: 35.50px; height: 11.09px; left: 659px; top: 631px; position: absolute; outline: 3px #374151 solid; outline-offset: -1.50px"></div>
  </div>
  <div style="width: 1125px; height: 758px; left: 23px; top: 2076px; position: absolute; background: rgba(33.97, 39.69, 54.56, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30); border-radius: 14.06px; outline: 0.88px rgba(255, 255, 255, 0.10) solid; outline-offset: -0.88px; backdrop-filter: blur(4.39px)">
    <div style="width: 1081px; height: 52px; left: 25px; top: 130px; position: absolute"></div>
    <div style="width: 1076px; height: 233px; left: 25px; top: 144px; position: absolute; background: #171D2A; overflow: hidden; border-radius: 30px">
      <div style="width: 73.22px; height: 7.85px; left: 33px; top: 18.10px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">14000</div>
      <div style="width: 73.22px; height: 7.85px; left: 33px; top: 66.63px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">1200</div>
      <div style="width: 73.22px; height: 7.85px; left: 33px; top: 114.65px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">10000</div>
      <div style="width: 73.22px; height: 7.85px; left: 33px; top: 163.18px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">8000</div>
      <div style="width: 896.35px; height: 165.72px; left: 108.40px; top: 29px; position: absolute; background: #BA7777"></div>
      <div style="width: 1208.99px; height: 205.23px; left: 74.76px; top: 68.76px; position: absolute; overflow: hidden">
        <div style="width: 977.98px; height: 165.72px; left: -5.18px; top: -7.23px; position: absolute; background: black"></div>
        <div style="width: 967.19px; height: 151.05px; left: -0.43px; top: 6.67px; position: absolute; background: linear-gradient(180deg, rgba(3, 135, 169, 0.70) 5%, rgba(3, 135, 169, 0.10) 95%)"></div>
        <div style="width: 967.19px; height: 151.05px; left: -0.43px; top: 6.67px; position: absolute"></div>
        <div style="width: 967.19px; height: 8.76px; left: -0.43px; top: 6.67px; position: absolute; outline: 1.50px #0387A9 solid; outline-offset: -0.75px"></div>
        <div style="width: 88.52px; height: 6.67px; left: 100.82px; top: 188.08px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">200500</div>
        <div style="width: 94.99px; height: 6.67px; left: 581.18px; top: 188.08px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.15.00</div>
        <div style="width: 99.31px; height: 6.67px; left: 1062.61px; top: 188.08px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.25.00</div>
      </div>
      <div style="width: 1072.46px; height: 237.55px; left: 1099.73px; top: 246.80px; position: absolute; transform: rotate(180deg); transform-origin: top left; overflow: hidden">
        <div style="width: 937.90px; height: 191.82px; left: 57.38px; top: 22.86px; position: absolute; background: black"></div>
        <div style="width: 903.28px; height: 43.61px; left: 985.39px; top: 73.88px; position: absolute; transform: rotate(180deg); transform-origin: top left; background: #B18484; outline: 1px black solid; outline-offset: -0.50px"></div>
        <div style="width: 927.55px; height: 174.84px; left: 63.18px; top: 38.96px; position: absolute; background: linear-gradient(180deg, rgba(121, 255, 196.93, 0.70) 5%, rgba(121, 255, 197, 0.10) 100%)"></div>
        <div style="width: 927.55px; height: 174.84px; left: 63.18px; top: 38.96px; position: absolute"></div>
        <div style="width: 927.55px; height: 10.14px; left: 63.18px; top: 38.96px; position: absolute; outline: 1.50px #79FFC5 solid; outline-offset: -0.75px"></div>
        <div style="width: 78.52px; height: 15.44px; left: 904.50px; top: 217.71px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">200500</div>
        <div style="width: 84.26px; height: 15.44px; left: 472.65px; top: 217.71px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.15.00</div>
        <div style="width: 88.09px; height: 15.44px; left: 41.75px; top: 217.71px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">20.25.00</div>
      </div>
      <div style="width: 45.51px; height: 6.67px; left: 90px; top: 197.33px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mon</div>
      <div style="width: 39.57px; height: 6.67px; left: 240.71px; top: 197.33px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">Tue</div>
      <div style="width: 47.49px; height: 6.67px; left: 384.50px; top: 197.33px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">Wed</div>
      <div style="width: 39.57px; height: 6.67px; left: 536.20px; top: 197.33px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">Thu</div>
      <div style="width: 27.70px; height: 6.67px; left: 689.88px; top: 197.33px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">Fri</div>
      <div style="width: 35.62px; height: 6.67px; left: 833.66px; top: 197.33px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sat</div>
      <div style="width: 39.57px; height: 6.67px; left: 979.43px; top: 197.33px; position: absolute; text-align: center; color: #A1A9BC; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sun</div>
    </div>
    <div style="width: 315.12px; height: 43.06px; left: 50px; top: 44px; position: absolute">
      <div style="width: 430px; left: 0px; top: 0px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 28px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Weather</div>
    </div>
    <div style="left: 437px; top: 386px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28.11px; word-wrap: break-word; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">Track Temp</div>
    <div style="width: 35.50px; height: 11.09px; left: 390px; top: 397px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); outline: 3px #5AB492 solid; outline-offset: -1.50px"></div>
    <div style="left: 626px; top: 386px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28.11px; word-wrap: break-word; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">Air Temp</div>
    <div style="width: 35.50px; height: 11.09px; left: 579px; top: 397px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); outline: 3px #096884 solid; outline-offset: -1.50px"></div>
    <div style="width: 1081px; height: 52px; left: 27px; top: 92px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 10.54px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
      <div style="width: 157px; height: 32px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #131722; border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Temperature</div>
      </div>
      <div style="width: 157px; height: 32px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Pressure</div>
      </div>
      <div style="width: 157px; height: 32px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Wind</div>
      </div>
    </div>
    <div style="width: 488px; height: 237px; padding: 22.84px; left: 50px; top: 441px; position: absolute; background: rgba(28, 33, 46, 0.80); border-radius: 14.06px; outline: 1.76px rgba(255, 255, 255, 0.20) solid; outline-offset: -1.76px; backdrop-filter: blur(4.39px); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; padding-bottom: 14.06px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 21.09px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Rainfall</div>
      </div>
      <div style="align-self: stretch; height: 112.46px; padding: 1.76px; background: rgba(15, 18, 26, 0.60); border-radius: 7.03px; outline: 1.76px rgba(255, 255, 255, 0.15) solid; outline-offset: -1.76px; justify-content: center; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 14.06px; font-family: Inter; font-weight: 400; line-height: 21.09px; word-wrap: break-word">Summary table</div>
      </div>
    </div>
    <div style="width: 488px; height: 237px; padding: 22.84px; left: 597px; top: 441px; position: absolute; background: rgba(28, 33, 46, 0.80); border-radius: 14.06px; outline: 1.76px rgba(255, 255, 255, 0.20) solid; outline-offset: -1.76px; backdrop-filter: blur(4.39px); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; padding-bottom: 14.06px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 21.09px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Humidity</div>
      </div>
      <div style="align-self: stretch; height: 112.46px; padding: 1.76px; background: rgba(15, 18, 26, 0.60); border-radius: 7.03px; outline: 1.76px rgba(255, 255, 255, 0.15) solid; outline-offset: -1.76px; justify-content: center; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 14.06px; font-family: Inter; font-weight: 400; line-height: 21.09px; word-wrap: break-word">Summary table</div>
      </div>
    </div>
  </div>
  <div style="width: 1125px; height: 446px; left: 22px; top: 2886px; position: absolute; background: rgba(33.97, 39.69, 54.56, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30); border-radius: 14.06px; outline: 0.88px rgba(255, 255, 255, 0.10) solid; outline-offset: -0.88px; backdrop-filter: blur(4.39px)">
    <div style="width: 1081px; height: 52px; left: 25px; top: 130px; position: absolute"></div>
    <div style="width: 315.12px; height: 43.06px; left: 50px; top: 44px; position: absolute">
      <div style="width: 430px; left: 0px; top: 0px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 28px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Laps</div>
    </div>
    <div style="width: 1058px; height: 52px; left: 50px; top: 92px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 10.54px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">
      <div style="width: 157px; height: 32px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #131722; border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Temperature</div>
      </div>
      <div style="width: 157px; height: 32px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Pressure</div>
      </div>
      <div style="width: 157px; height: 32px; padding-left: 14.06px; padding-right: 14.06px; padding-top: 5.27px; padding-bottom: 5.27px; background: #2C3344; box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8784.97px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #AEB9C7; font-size: 12.30px; font-family: Inter; font-weight: 700; line-height: 17.57px; word-wrap: break-word">Wind</div>
      </div>
    </div>
  </div>
  <div style="width: 823px; height: 51px; left: 354px; top: 28px; position: absolute">
    <div style="width: 794px; height: 51px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0.20); border-radius: 9.01px; backdrop-filter: blur(1.50px)">
      <div style="width: 769.96px; height: 27px; left: 12.02px; top: 12.02px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="padding-left: 12.02px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10.52px; font-family: Inter; font-weight: 400; line-height: 15.02px; word-wrap: break-word">Season</div>
            </div>
            <div style="padding-left: 6.01px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="padding-top: 4.51px; padding-bottom: 4.51px; padding-left: 12.02px; padding-right: 24.04px; background: #2D313C; border-radius: 7510.27px; justify-content: flex-start; align-items: center; display: inline-flex">
                  <div style="padding-right: 0.41px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 10.52px; font-family: Inter; font-weight: 400; line-height: 15.02px; word-wrap: break-word">All</div>
                  </div>
                </div>
                <div style="height: 12.51px; left: 31.47px; top: 6.25px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                  <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 9.01px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 12.02px; word-wrap: break-word"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="padding-left: 12.02px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="justify-content: flex-start; align-items: center; gap: 0px; display: inline-flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10.52px; font-family: Inter; font-weight: 400; line-height: 15.02px; word-wrap: break-word">Region</div>
            </div>
            <div style="padding-left: 6.01px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="padding-top: 4.51px; padding-bottom: 4.51px; padding-left: 12.02px; padding-right: 24.04px; background: #2D313C; border-radius: 7510.27px; justify-content: flex-start; align-items: center; display: inline-flex">
                  <div style="padding-right: 0.60px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 10.52px; font-family: Inter; font-weight: 400; line-height: 15.02px; word-wrap: break-word">Global</div>
                  </div>
                </div>
                <div style="height: 12.51px; left: 51.44px; top: 6.25px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                  <div style="justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 9.01px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 12.02px; word-wrap: break-word"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="flex: 1 1 0; padding-left: 12.02px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="align-self: stretch; height: 27px; position: relative">
            <div style="width: 532px; height: 27px; left: 532px; top: 27px; position: absolute; transform: rotate(180deg); transform-origin: top left; background: #2D313C; overflow: hidden; border-radius: 7510.27px">
              <div style="width: 585.51px; height: 13px; left: 553.53px; top: 20.14px; position: absolute; transform: rotate(180deg); transform-origin: top left; overflow: hidden">
                <div style="left: 71.77px; top: -0.15px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 10.52px; font-family: Inter; font-weight: 400; word-wrap: break-word">Search Grand Prix...</div>
              </div>
              <div style="width: 575px; height: 13px; left: 612.79px; top: 22.98px; position: absolute; transform: rotate(180deg); transform-origin: top left">
                <div style="width: 10.52px; height: 7.51px; left: 0px; top: 2.74px; position: absolute"></div>
                <div style="width: 252px; height: 13px; left: 10.52px; top: 0px; position: absolute"></div>
              </div>
            </div>
            <div style="height: 12px; left: 12.02px; top: 7.50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="justify-content: center; display: flex; flex-direction: column; color: #6B7280; font-size: 12.02px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 12.02px; word-wrap: break-word; text-shadow: 0px 0px 1px rgba(107, 114, 128, 1.00)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 1124.59px; height: 524.56px; left: 28.11px; top: 350.56px; position: absolute">
    <div style="width: 1124.59px; height: 237.22px; left: 0px; top: 7.03px; position: absolute">
      <div style="width: 1125px; height: 286px; left: -0.11px; top: -38.58px; position: absolute; background: rgba(33.97, 39.69, 54.56, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30); border-radius: 14.06px; backdrop-filter: blur(4.39px)"></div>
      <div style="width: 1125px; height: 286px; left: -0.11px; top: -38.58px; position: absolute; background: #222837; border-radius: 14.06px"></div>
      <img style="width: 633px; height: 422px; left: -0.11px; top: -127.58px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)" src="https://placehold.co/633x422" />
      <div style="width: 560px; height: 86px; left: -15.11px; top: 161.42px; position: absolute; background: linear-gradient(90deg, rgba(15, 18, 28, 0.70) 0%, rgba(42.32, 50.79, 79, 0.49) 86%, rgba(69.64, 83.57, 130, 0) 100%)"></div>
      <div style="width: 478px; height: 29px; left: 33.89px; top: 192.42px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 28px; font-family: Speed Rusher; font-weight: 400; line-height: 27.04px; word-wrap: break-word">Dutch Grand Prix 2025</div>
    </div>
    <div style="width: 1124.59px; height: 29px; left: 0px; top: 269.30px; position: absolute">
      <div style="width: 1124.59px; left: 0px; top: 0px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 21.09px; font-family: Alphacorsa; font-weight: 400; line-height: 28.11px; word-wrap: break-word">Sessions</div>
    </div>
    <div style="width: 1124.59px; height: 223.20px; left: 0px; top: 301.36px; position: absolute; justify-content: center; align-items: flex-start; gap: 21.09px; display: inline-flex">
      <div style="flex: 1 1 0; align-self: stretch; padding: 22.84px; background: rgba(28, 33, 46, 0.80); border-radius: 14.06px; outline: 1.76px rgba(255, 255, 255, 0.20) solid; outline-offset: -1.76px; backdrop-filter: blur(4.39px); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #D1D5DB; font-size: 14.06px; font-family: Inter; font-weight: 400; line-height: 21.09px; word-wrap: break-word">Session</div>
        </div>
        <div style="align-self: stretch; padding-bottom: 14.06px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 21.09px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Practice</div>
        </div>
        <div style="align-self: stretch; height: 112.46px; padding: 1.76px; background: rgba(15, 18, 26, 0.60); border-radius: 7.03px; outline: 1.76px rgba(255, 255, 255, 0.15) solid; outline-offset: -1.76px; justify-content: center; align-items: center; display: inline-flex">
          <div style="flex: 1 1 0; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 14.06px; font-family: Inter; font-weight: 400; line-height: 21.09px; word-wrap: break-word">Summary table</div>
        </div>
      </div>
      <div style="flex: 1 1 0; align-self: stretch; padding: 22.84px; background: rgba(28, 33, 46, 0.80); border-radius: 14.06px; outline: 1.76px rgba(255, 255, 255, 0.20) solid; outline-offset: -1.76px; backdrop-filter: blur(4.39px); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #D1D5DB; font-size: 14.06px; font-family: Inter; font-weight: 400; line-height: 21.09px; word-wrap: break-word">Session</div>
        </div>
        <div style="align-self: stretch; padding-bottom: 14.06px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 21.09px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Qualifying</div>
        </div>
        <div style="align-self: stretch; height: 112.46px; padding: 1.76px; background: rgba(15, 18, 26, 0.60); border-radius: 7.03px; outline: 1.76px rgba(255, 255, 255, 0.15) solid; outline-offset: -1.76px; justify-content: center; align-items: center; display: inline-flex">
          <div style="flex: 1 1 0; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 14.06px; font-family: Inter; font-weight: 400; line-height: 21.09px; word-wrap: break-word">Summary table</div>
        </div>
      </div>
      <div style="flex: 1 1 0; align-self: stretch; padding: 22.84px; background: rgba(28, 33, 46, 0.80); border-radius: 14.06px; outline: 1.76px rgba(255, 255, 255, 0.20) solid; outline-offset: -1.76px; backdrop-filter: blur(4.39px); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #D1D5DB; font-size: 14.06px; font-family: Inter; font-weight: 400; line-height: 21.09px; word-wrap: break-word">Session</div>
        </div>
        <div style="align-self: stretch; padding-bottom: 14.06px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 21.09px; font-family: Roboto Mono; font-weight: 700; line-height: 28.11px; word-wrap: break-word">Race</div>
        </div>
        <div style="align-self: stretch; height: 112.46px; padding: 1.76px; background: rgba(15, 18, 26, 0.60); border-radius: 7.03px; outline: 1.76px rgba(255, 255, 255, 0.15) solid; outline-offset: -1.76px; justify-content: center; align-items: center; display: inline-flex">
          <div style="flex: 1 1 0; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #9CA3AF; font-size: 14.06px; font-family: Inter; font-weight: 400; line-height: 21.09px; word-wrap: break-word">Summary table</div>
        </div>
      </div>
    </div>
  </div>
</div>